p{
    font-family: "SciFly Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header-background {
    background-color: #EB79B1;
    margin: 0;
    padding: 0;
}

.title {
    color: #333333;
}

.title-focus {
    color: #FFFFFF;
}
